In [30]:
import pandas as pd
from sklearn import preprocessing, tree, neighbors
from sklearn.model_selection import train_test_split

data = pd.read_csv("data/adult.csv")
test_data = pd.read_csv("data/adulttest.csv")

In [31]:
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,money
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [32]:
label_encoder = preprocessing.LabelEncoder()
encoded_class = label_encoder.fit_transform(data["money"])
edu = label_encoder.fit_transform(data["education"])
edu_test = label_encoder.fit_transform(test_data["education"])
money = label_encoder.fit_transform(test_data["money"])
# train
X = pd.DataFrame(edu)
X.columns = ["education"]
y = pd.DataFrame(encoded_class)
y.columns = ["money"]

# test
Xtest = pd.DataFrame(edu)
Xtest.columns = ["education"]
ytest = pd.DataFrame(encoded_class)
ytest.columns = ["money"]

In [33]:
encoded_class

array([0, 0, 0, ..., 0, 0, 1])

In [34]:
XTrain, yTrain = X, y

dtree = tree.DecisionTreeClassifier()
dtree.fit(XTrain, yTrain)

print("準確率:", dtree.score(XTest, yTest))

準確率: 0.7913032796953691

In [35]:
preds = dtree.predict_proba(X=XTest)
print(pd.crosstab(preds[:,0], columns=[XTest["education"]]))
pd.crosstab(preds[:,0], columns=[XTest["education"]]).to_csv("610721237_ID3_predict.txt")

education   0    1    2   3   4    5    6    7    8     9   10    11   12  13  \
row_0
0.259080     0    0    0   0   0    0    0    0    0     0  90     0    0   0
0.265625     0    0    0   0   0    0    0    0    0     0   0     0    0   0
0.443413     0    0    0   0   0    0    0    0    0     0   0     0  420   0
0.585247     0    0    0   0   0    0    0    0    0  1318   0     0    0   0
0.738784     0    0    0   0   0    0    0    0  327     0   0     0    0   0
0.751640     0    0    0   0   0    0    0  264    0     0   0     0    0   0
0.809765     0    0    0   0   0    0    0    0    0     0   0     0    0   0
0.840491     0    0    0   0   0    0    0    0    0     0   0  2679    0   0
0.923788     0    0  131   0   0    0    0    0    0     0   0     0    0   0
0.933548   229    0    0   0   0    0    0    0    0     0   0     0    0   0
0.938080     0    0    0   0   0  173    0    0    0     0   0     0    0   0
0.947471     0    0    0   0   0    0  119    0    0     0   0     0    0   0
0.948936     0  282    0   0   0    0    0    0    0     0   0     0    0   0
0.951952     0    0    0   0  88    0    0    0    0     0   0     0    0   0
0.964286     0    0    0  47   0    0    0    0    0     0   0     0    0   0
1.000000     0    0    0   0   0    0    0    0    0     0   0     0    0   8

education   14    15
row_0
0.259080     0     0
0.265625   139     0
0.443413     0     0
0.585247     0     0
0.738784     0     0
0.751640     0     0
0.809765     0  1827
0.840491     0     0
0.923788     0     0
0.933548     0     0
0.938080     0     0
0.947471     0     0
0.948936     0     0
0.951952     0     0
0.964286     0     0
1.000000     0     0

In [26]:
k = 3

knn = neighbors.KNeighborsClassifier(n_neighbors=k)
knn.fit(X, y)

print("準確率:", knn.score(XTest, yTest))
print(knn.predict(XTest))
print(yTest.values)

C:\Users\Ken\Anaconda3\envs\ken\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  after removing the cwd from sys.path.

準確率: 0.5141874462596733
[0 0 1 ... 0 1 0]
[[0]
 [0]
 [1]
 ...
 [0]
 [0]
 [0]]

In [29]:
preds = knn.predict(XTest)
print(pd.crosstab(preds[:], columns=[XTest["education"]]))
pd.crosstab(preds[:], columns=[XTest["education"]]).to_csv("610721237_KNN_predict.txt")

education   0    1    2   3   4    5    6    7    8     9   10    11   12  13  \
row_0
0          229  282  131  47  88  173  119  264  327     0   0     0    0   8
1            0    0    0   0   0    0    0    0    0  1318  90  2679  420   0

education   14    15
row_0
0          139  1827
1            0     0